

:root {
    --primaria: #49b316;
    --secundaria: #33880b;
    --terciaria: #48b31641;

    --letra: #fff;
}


.dark{
    --primaria: #0c6189;
    --secundaria: #04415e;
    --terciaria: #0c618950;

    --letra: #fff;

}